# Environment Variables
# Copy this file to .env and fill in the values

# PostgreSQL Database URL
DATABASE_URL="postgresql://user:password@localhost:5432/odoo_pos_cafe?schema=public"

# NextAuth / Auth
# NEXTAUTH_SECRET=""
# NEXTAUTH_URL="http://localhost:3000"
